# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/
.venv/

# Distribution / packaging
build/
dist/
*.egg-info/

# Pytest cache
.pytest_cache/

# Logs and reports
*.log
reports/

# IDE/editor settings (optional, based on your editor)
.vscode/
.idea/

# MacOS
.DS_Store

# Others
*.sqlite3

# Ignore image files
*.png
*.jpg
*.jpeg
*.gif